version: "3.8"
services:
  pact-broker:
    image: pactfoundation/pact-broker
    ports:
      - "9292:9292"
    environment:
      PACT_BROKER_DATABASE_ADAPTER: "sqlite3"
      PACT_BROKER_DATABASE_NAME: "/pact_broker/db.sqlite3"
    volumes:
      - ./pact_broker_data:/temp

  consumer:
    build: ./consumer
    container_name: todo-consumer
    depends_on:
      - pact-broker
    environment:
      PACT_BROKER_BASE_URL: "http://pact-broker:9292"
    command: sh -c "npm install && npm test && npx pact-broker publish ./pacts --broker-base-url=http://pact-broker:9292"
    volumes:
      - ./pacts_data:/app/pacts

  provider:
    build: ./provider
    container_name: todo-provider
    depends_on:
      - pact-broker
    ports:
      - "3000:3000"
    volumes:
      - ./pacts_data:/app/pacts
    
  verifier:
    image: node:18-bullseye
    container_name: pact-verifier
    depends_on:
      - provider
    working_dir: /app
    volumes:
      - ./provider:/app
      - ./pacts_data:/app/pacts
    command: ["npm", "run", "verify"]
    environment:
      PROVIDER_BASE_URL: "http://provider:3000"

volumes:
  pact_broker_data:
  pacts_data: