services:
  pact-consumer:
    build: ./consumer
    container_name: pact-consumer
    command: ["npm", "run", "test:consumer"]
    volumes:
      - ./consumer/pacts:/app/pacts
    networks:
      - pactnet

  pact-provider:
    build: ./provider
    container_name: pact-provider
    command: ["npm", "start"]
    networks:
      - pactnet
    ports:
      - "3000:3000"

  pact-verifier:
    build: ./provider
    container_name: pact-verifier
    command: ["npm", "run", "test:provider"]
    networks:
      - pactnet
    depends_on:
      - pact-provider
      - pact-consumer

networks:
  pactnet:
    driver: bridge